{%extends "Base.html"%}
{% load staticfiles%}
{%block css %}
{%endblock%}

{%block opcionesmenu %}
                    <li role="presentation" ><a href="{% url 'login' %}  ">Home</a></li>
                    <li role="presentation" class="active"><a href="#">Libros</a></li>
                   
                    <li role="presentation"><a href="#">Cerrar Sesion</a></li>
                    {%endblock %}

 {%block barraLateral%} 
             <!--    <li class="sidebar-brand"><a href="#">Opciones: Libros</a></li>
                <li><a href="{% url 'consultaPartida' %}">Libro Mayor</a></li>
                <li><a href="">Opcion consultar</a></li>
                <li><a href="">Opcion </a></li> -->
                <!-- <li><a href="#">Opcion 4</a></li>
                <li><a href="#">Opcion 5</a></li>
                <li><a href="#">Opcion 6</a> </li>
                <li><a href="#">Opcion 7</a></li> -->


                <div class="list-group">
                    <a href="#" class="list-group-item active">
                    <span class="glyphicon glyphicon-home"></span>  {{empresa}}
                    </a> 

                   <div class="list-group">
                    
                    <a href="#" class="list-group-item" >
                    <span class="glyphicon glyphicon-eye-open" ></span> Balance General</a>
                    <a href="#" class="list-group-item" onclick="Balancegeneral_M();">
                    <span class="" ></span> Balance General MAYOR</a>
                    <a href="#" class="list-group-item" onclick="Balancegeneral_m();">
                    <span class="" ></span> Balance General MENOR</a>
                  <!-- ----------------------------------------------------------------------- -->
                    <a href="#" class="list-group-item" >
                    <span class="glyphicon glyphicon-eye-open"></span> Estado de Resultado</a>
                    <a href="#" class="list-group-item" onclick="estadoresultado_M();">
                    <span class=""></span> Estado de Resultado Mayor</a>
                    <a href="#" class="list-group-item" onclick="estadoresultado_m();">
                    <span class=""></span> Estado de Resultado Menor</a> 
{%endblock%}


{%block areaTrabajo%}<div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        
      <form method="post" action="{% url 'consultaEstadoF' %}" id="fo" name="fo">{% csrf_token %}
    <INPUT type="text" id="estadoF"  disabled value=" seleciona un libro" />
    <INPUT type="hidden"  id="codTipo" name="codTipo"value="" />
    <label>digite un año</label>
    <INPUT type="number" id="anio"  name="anio" min="1900" max="2100" maxlength="4"  value="" />
    
    <label>digite un mes</label>
    <select id="mes" class=""  name="mes" >
             <!-- <option value=""></option> -->
             <option value="01">ENERO</option>
             <option value="02">FEBRERO</option>
             <option value="03">MARZO</option>
             <option value="04">ABRIL</option>
             <option value="05">MAYO</option>
             <option value="06">JUNIO</option>
             <option value="07">JULIO</option>
             <option value="08">AGOSTO</option>
             <option value="09">SEPTIEMBRE</option>
             <option value="10">OCTUBRE</option>
             <option value="11">NOVIEMBRE</option>
             <option value="12">DICIENBRE</option>
    </select>
    <label>acumulado</label>
    <!-- <input type="checkbox" name="acumulado" value="ON" onclick = "acumulado();" > -->
    <input type="checkbox" name="aculamulado" value="ON" onclick = "document.getElementById('mes').disabled = this.checked " >
    <INPUT type="hidden"  id="tipoEF" name="tipoEF"value="" />
    </form>
    <input type="submit"   name="mysubmit" form="fo"value="Enviar" />
    
    {% if mensaje %} 
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">mensaje:</span>    
          {{mensaje}}       
        </div>
    {% endif %} 



                    </div>
                </div>
            </div>
        </div>


{%endblock%}


{% block js%}

<script src="{% static 'bootstrap/js/miscrip.js'%}"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>


// para balace se asigna el codigo 1 y el 2 para el estado de resultado
function Balancegeneral_M(){
  document.getElementById('estadoF').value = "Balance General(M)";
// // balance general con cuentas de mayor
  document.getElementById('codTipo').value = 1;
  document.getElementById('tipoEF').value = 1;
}
function Balancegeneral_m(){
  document.getElementById('estadoF').value = "Balance General(m)";
// balance general con cuentas de menor
  document.getElementById('codTipo').value = 2;
  document.getElementById('tipoEF').value = 1;
}

function estadoresultado_M(){
  document.getElementById('estadoF').value = "Estado de Resultado(M)";
  // estado de resultado con cuentas de menor
  document.getElementById('codTipo').value = 1;
  document.getElementById('tipoEF').value = 2;

}
function estadoresultado_m(){
  document.getElementById('estadoF').value = "Estado de Resultado(m)";
  // estado de resultado con cuentas de Mayor
  document.getElementById('codTipo').value = 2;
  document.getElementById('tipoEF').value = 2;

}


</script>
     
     

{%endblock%}