
{%extends "Base.html"%}

{% load staticfiles%}

{%block css %}
<!--<link rel="stylesheet" href="{% static 'css/style.css' %}"/>-->
    {%endblock%}

{%block opcionesmenu %}
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    
                    
                    
                    <li role="presentation"><a href="#">Cerrar Sesion</a></li>
                    {%endblock %}


{%block barraLateral%}
                
              
                <div class="list-group">
                    <a href="/conta/GestionEmpresa/" class="list-group-item active">
                    <span class="glyphicon glyphicon-plus-sign"></span> Nueva Empresa
                    </a> 


                    {%endblock%}




{%block areaTrabajo%}
<div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
<h1>Iniciar sesión</h1>

<!--<H3>
 <div class="menu">
        <li class="menu-item current"><a href="/conta/GestionEmpresa/">NUEVA EMPRESA
        </a></li>   
 </div></H3>-->

 <div class="hijo">
	
	
    
		<!--<div class="form-group">
			<label class="col-sm-5 control-label text-right">
			Empresa:
			</label>
			<div class="col-sm-2">
	   		<input type="hidden"  class="form-control" name="codempresa" id="codempresa" />
			<select type="text" style="width: 250px" name="codemp" id="grid-size">
               {% for em in empresas %}
				<option name="medicamento" class="" value="{{em.codEmpresa}}">	{{em.nomEmpresa}}  
            	</option>   
             	{% endfor %}
            </select>	
			</div>
		</div>-->



{% for em in empresas %}
		<div class="col-xs-3">
   <div class="thumbnail">
      <img src="{% static 'img/archive.png'%}" alt="imagen">
      <div class="caption">
          <h3>
              {{em.nomEmpresa}}
          </h3>
              <p>Empresa de prueba</p>
          <p>
         <form class="form-horizontal" action="{% url 'login' %}" method="post">{% csrf_token %}
             <select type="text"name="codemp" class="hidden">    
             <option name="medicamento" class="" value="{{em.codEmpresa}}">	{{em.nomEmpresa}}  
            	</option> 
             </select>
          <input type="submit" class="btn btn-primary" value="Iniciar sesión" />

          </form>
          <a href="#" class="btn btn-default">Editar</a>
          </p>
      </div>
   </div>
 </div>
 {% endfor %}
	
		<!--<div class="form-group">
		<div class="col-sm-12 text-center">
		<input type="submit" class="btn btn-primary" value="Iniciar sesión" />
		</div>
		</div>-->
		<!--si no hubiere selecionado una empresa y quisiera ingresar a alguna funcion del sistema este error le sera mostrado  -->
		{% if mensaje %}
		<div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
     	{{mensaje}}
     	 </div>
     	{% endif %}
	
 </div>

 </div>
 </div>
 </div>
 </div>

{%endblock%}

{% block js%}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    {%endblock%}

